/**
 * Definitions modal
 */
.button{
    font-size: $font-size-large; 
    position: relative;
    display: block;
    top: 10px;
    padding: 10px 30px;
    cursor: pointer;
    color: $white-color;
    border: 0;
    border-radius: 3px;
    outline: none;
    background: $dark-blue;
    margin-bottom: 40px;
    text-decoration: none;
}

.button:hover, .button:active  {
    background: $light-gray;
    color: $dark-blue;
    text-decoration: none;
}