/* import font */
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
         url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Regular.svg#RobotoRegular') format('svg');
}

.desafio {
    color: #d3dbe0;
}

.resultados {
    color: #506e84;
    font-size: $font-size-h4;
    font-weight: bold;
    margin-right: -4px;
}

.digitais {
    color: #7e8285;
    font-size: $font-size-h4;
    font-weight: bold;
}
